.leftPanel {
  width: 260px;
  height: 100%;
  border: 1px solid #424448;
  box-shadow: 0 2px 6px #313131;
  background-color: #fff;
  border-radius: 5px;
}
.title {
  background: #e5f4ff;
  line-height: 80px;
  color: #666;
  position: relative;
  border-bottom: 1px solid #ced4d9;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  img {
    width: 56px;
    height: 56px;
    border: none;
    margin: 12px 10px 12px 14px;
  }
  .exit {
    position: absolute;
    right: 12px;
    top: 0;
    line-height: 28px;
    padding-left: 10px;
    border-left: 1px dotted #ccc;
    color: #88939b;
    font-size: 12px;
    cursor: pointer;
  }
}
.cursor {
  cursor: pointer;
  margin-left: 5px;
  outline: 0;
  border: 0;
}
