.mainWrapper {
  position: relative;
  overflow: visible;
  min-width: 1000px;
  height: 820px;
  width: 1002px;
  padding: 100px 0;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box
}
.flex {
  flex: 1;
}